<?xml version="1.0" encoding="utf-8" ?>

<log4net>
  
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Source\SkywriterServer\SkywriterServer\Logs\rolling-log.txt" />
    <appendToFile value="true" />

    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="100000" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %date %-22.22c{1} - %m%n" />
    </layout>
  </appender>

  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
    <to value="gareth.marland@gmail.com" />
    <from value="gareth.marland@gmail.com" />
    <subject value="Monitoring Service for Mentoring: ISSUE" />
    <smtpHost value="s2smtpout.secureserver.net" />
    <bufferSize value="1" />
    <lossy value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%date [%thread]&lt;%property{log4net:HostName}&gt; %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
    </layout>
    <threshold value="WARN" />
  </appender>

  <appender name="FatalSmtpAppender" type="log4net.Appender.SmtpAppender">
    <to value="gareth.marland@gmail.com" />
    <from value="gareth.marland@gmail.com" />
    <subject value="Monitoring Service for Mentoring: FATAL" />
    <smtpHost value="s2smtpout.secureserver.net" />
    <bufferSize value="1" />
    <priority>High</priority>
    <lossy value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%date [%thread]&lt;%property{log4net:HostName}&gt; %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
    </layout>
    <threshold value="FATAL" />
  </appender>

  <root>
    <level value="INFO" />
    <appender-ref ref="RollingFileAppender" />
    <appender-ref ref="SmtpAppender"/>
    <appender-ref ref="FatalSmtpAppender"/>
  </root>
  
</log4net>